.container{
    margin-left: 30px;
    width: 50px;
    height: 22px;
    margin-top: 20px;
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
    

    border: 1px solid rgb(230, 230, 230);
}

.container:hover{
    border: 1px solid #0085A1;
    color: #0085A1;
}